[submodule "cbitset"]
	path = cbitset
	url = https://github.com/kylecoffey1999/cbitset.git
[submodule "vec"]
	path = vec
	url = https://github.com/rxi/vec.git
[submodule "uthash"]
	path = uthash
	url = https://github.com/troydhanson/uthash.git
